<div class="grid-items" data-colour="<%= item.colour %>" data-occasion="<%= item.clothes_occasion %>">


  <%= image_tag(item.image_url.to_s, width: 300) %><br>
  Colour: <%= item.colour %>
  Occasion: <%= item.clothes_occasion %>
  <%= link_to 'Edit', edit_item_path(item) %>
  <%= link_to 'Delete', item, method: :delete, data: { confirm: 'Are you sure?' } %><br><br>
</div>
