
  <%= form_with(model: item, local: true) do |form| %>
    <% if item.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

        <ul>
        <% item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :colour, :class => 'sub-heading' %>
      <span class='form-select'><%= form.select(:colour, Colour::SELECTION, :prompt=>"Choose a colour") %></span>
    </div>

    <div class="field">
      <%= form.label :type, :class => 'sub-heading' %>
      <span class='form-select' ><%= form.select :clothes_type, [['top'], ['bottom']], :prompt=>"Choose a type"  %></span>
    </div>

    <div class="field">
      <%= form.label :clothes_occasion, :class => 'sub-heading' %>
      <span class='form-select' >    <%= form.select :clothes_occasion, [['formal'], ['informal']], :prompt=>"Choose an occasion" %></span>
    </div>

    <div class="field form-btn-choice">

      <%= form.file_field :image %>
    </div>

    <div class="actions form-btn-choice">
      <%= form.submit %>
    </div>
  <% end %>
