<p id="notice"><%= notice %></p>



<h1>Items</h1>


<form action="/clothes_selection" method="get">

  <h2>Tops</h2>
  <% @tops.each do |item| %>
    <%= render 'clothes_information', item: item %>
  <% end %>

  <h2>Bottoms</h2>
  <% @bottoms.each do |item| %>
    <%= render 'clothes_information', item: item %>
  <% end %>
  <input type="submit" value="Submit">
</form>


<br>

<%= link_to 'New Item', new_item_path %>
<%= link_to 'Explore', '/clothes_carousel' %>
