<p id="notice"><%= notice %></p>

<p>
  <strong>Colour:</strong>
  <%= @item.colour %>
</p>

<p>
  <strong>Image:</strong>
  <%= @item.image %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
