<p id="notice"><%= notice %></p>

<%= image_tag(@item.image_url.to_s) %>
<p>
  <strong>Colour:</strong>
  <%= @item.colour %>
</p>

<p>
  <strong>Occasion: </strong>
  <%= @item.clothes_occasion %>
</p>

<p>
  <strong> Type: </strong>
  <%= @item.clothes_type %>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
