
<% @item_collection.each do |item| %>
  <%= image_tag(item.image_url.to_s, width: 300) %>
<% end %>


<%= button_to 'Save combination', combinations_path, :method=>:post, params:{"combination"=>{item_1_id: @item_1_id, item_2_id: @item_2_id}} %>

<p> Clothes: <%= @message_1 %></p>
<p> Occasion: <%= @message_2 %> </p>
<p> Overall: <%= @overall_message %> </p>
